# Jupyter Notebook specific files
.ipynb_checkpoints/
*.ipynb-checkpoint
.jupyter/
notebooks/.ipynb_checkpoints/

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
.env/
venv/
env/

# Data files and temporary files
*.csv
*.json
*.pkl
*.data
*.log
*.tmp
temp/
data/
results/

# Editor/IDE specific files (optional)
.vscode/
.idea/
*.swp

*.DS_store
anaconda_projects/
